<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Try the AFA Game!</h2>
                <hr class="light">
                <p class="text-faded">A small demo of how our decision support app will look like. <br>
                    See for yourself, if you can beat our optimal decision-making AI software! </p>
                <a href="https://streamlit-afa-example.herokuapp.com/" class="btn btn-default btn-xl">AFA app Demo!</a>
            </div>
        </div>
    </div>
</section>
