<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Now it's time for a BS demo!</h2>
                <hr class="light">
                <p class="text-faded">See for yourself, how ML/DL/causal inference/AI/Hacking/Programming sourcery saves your life, when you're dealing with little filthy bacteria and your life is at stake.</p>
                <a href="https://streamlit-afa-example.herokuapp.com/" class="btn btn-default btn-xl">AFA app Demo!</a>
            </div>
        </div>
    </div>
</section>
