<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1> SEQPEEK </h1>
            <h3> Smart information acquisition in medicine </h3>
            <hr>
            <p> We build Active Feature Acquisition (AFA) solutions: We use AI to recommend optimal measurements for disease diagnosis in medical applications to decrease costs and improve healthcare! </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
